.product-item {
  padding: 10px;
  border: 1px solid gray;
  margin-bottom: 15px;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr) auto;
  text-align: center;
  align-content: center;
}

.product-item:last-child {
  margin-bottom: 0;
}

.acciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  width: auto;
  margin: 0 auto;
  height: auto;
}

.editar {
  background-color: rgb(24, 134, 170);
  font-size: 24px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .product-item {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr auto;
    column-gap: 10px;
    text-align: left;
  }
}
