html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
}

/*==========================Header================================*/

body {
  background-color: black !important;
  color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/*General classes*/
.container {
  max-width: 1200px;
  margin: 120px auto 0 auto;
  width: 90%;
  font-size: 20px;
}

@media (min-width: 768px) {
  .container {
    margin-top: 0;
  }
}

/*===================Pantalla de Inicio============================*/
.admin {
  text-align: center;
  display: flex;
  height: 75vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-img {
  position: relative;
  width: 100%;
  height: 200px;
}

.admin p {
  margin-top: 20px;
}

@media (min-width: 500px) {
  .admin {
    text-align: center;
  }
  .admin-img {
    width: 100%;
    height: 400px;
  }
}

.center {
  text-align: center;
}

/*Image Picker*/
.ant-upload.ant-upload-select-picture-card {
  background-color: black !important;
}

.ant-upload {
  color: white !important;
}

/* Botones */
.btn {
  display: block;
  margin: 0 auto;
  border: 1px solid white;
  background-color: transparent;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.035);
  background-color: white;
  color: black;
}
